<% include partials/header.ejs %>

<!--
  users.ejs
  Student's name: Yuk Hong Ma
  Student ID: 301210312
  Date: June 17, 2022
-->

    <h1><%= title %></h1>
    <p>Welcome to haha<%= title %>, <%= userName %>! </p>

<% include partials/footer.ejs %>